<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!--驱动路径注意数据库类型  -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <!--数据库路径  -->
        <property name="connection.url">jdbc:mysql://localhost:3306/jdbcstudy</property>
        <!--数据库用户名  -->
        <property name="connection.username">root</property>
        <!--数据库密码  -->
        <property name="connection.password">123456</property>

        <property name="dialect">org.hibernate.dialect.MySQL57InnoDBDialect</property>

        <!--是否显示sql语句，sql一般会很难看  默认为false-->
        <property name="hibernate.show_sql">true</property>

        <mapping class="cn.wen233.hibernatedemo.model.Product"/>

        <!--下一个层级的映射文件，用来配置bean对象与数据表之间的关系  -->
    </session-factory>
</hibernate-configuration>